<main>
  <section class="header">
    <img
      (click)="switchLanguage()"
      [src]="selectedLanguage == 'en' ? 'assets/icons/flag-en.png' : 'assets/icons/flag-ge.png'"
      alt="" />
  </section>

  <section class="side-bar">
    <article class="nav">
      <a routerLink="/" class="logo">
        <img src="assets/icons/logo.svg" alt="logo" />
      </a>
      @for (item of navbarItems; track item.title) {
      <div class="nav-item">
        <a href="" [routerLink]="item.route" routerLinkActive="active-link green-line-hover">
          <div>
            <img [src]="'assets/icons/' + item.icon" alt="icon" class="icon" />
          </div>
          <span class="title">{{ item.title | translate }}</span>
        </a>
      </div>
      }
    </article>
  </section>

  <section class="router">
    <ng-content></ng-content>
  </section>
</main>
